.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 4s;
}

.header-contents h2{
    font-weight: 500;
    color: rgb(249, 249, 250);
    font-size: max(4.5vw,22px);
}

.header-contents p{
    color: white;
    font-size: 1vw;
}

.header-contents button{
    background-color: white;
    color: #747474;
    border: none;
    padding: 1vw 2.3vw;
    border-radius: 50px;
    font-size: max(1vw,13px);
    cursor: pointer;
}

@media (max-width:1050px){
    .header-contents{
        max-width: 45%;
    }
}
@media (max-width:750px){
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}